In [2]:
#LISTS
mylist=['one',2,'three']
print(mylist)

['one', 2, 'three']

In [3]:
s='100'
mylist=[100]
i=100

In [4]:
print(type(s))
print(type(mylist))
print(type(i))

<class 'str'>
<class 'list'>
<class 'int'>

In [5]:
print(s,mylist,i)

100 [100] 100

In [8]:
#TUPLES
#Tuples are immutable while lists are mutable
mytup=('one',2,'threee')
print(mytup)
print(type(mytup))

('one', 2, 'threee')
<class 'tuple'>

In [9]:
#this confuses if you want a tuple or just  an int
tup=(100)
print(type(tup))
#this is an int hence

<class 'int'>

In [10]:
#this makes a tuple of single item , i.e by adding comma at the end
tup=(100,)
print(type(tup))

<class 'tuple'>

In [11]:
tup=()
print(type(tup))

<class 'tuple'>

In [12]:
#Index Operator 
s='Python'
s[0]#this gives 1st character
#index in python starts from 0

'P'

In [16]:
mylist=['1st item',2,3.7]
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(type(mylist[0]))
print(type(mylist[1]))
print(type(mylist[2]))

1st item
2
3.7
<class 'str'>
<class 'int'>
<class 'float'>

In [20]:
print(len(s))
print(len(mylist))
print(len(mylist[0]))
#print(len(mylist[1]))
#len() function is for string only
#print(len(mylist[2]))

6
3
8

TypeError: object of type 'int' has no len()

In [19]:
#there is negative indexing in python
print(s[-1])
print(s[len(s)-1])

n
n

In [22]:
#SLICE OPERATOR
julia=('Julia',"Roberts",1967,"duplicity",2009,"actress","Altanta,Georgia")
print(julia[2])
print(julia[2:6])
print(type(julia[2:6]))

1967
(1967, 'duplicity', 2009, 'actress')
<class 'tuple'>

In [25]:
mylist=["Hey",329,"Man",9.32,"How are you"]
print(mylist[1:])
print(mylist[2:4])
print(mylist[2:6])#the length of mylist is 5 but it doesnt give error even if end index is larger
print(type(mylist[2:4]))

[329, 'Man', 9.32, 'How are you']
['Man', 9.32]
['Man', 9.32, 'How are you']
<class 'list'>

In [26]:
#CONCATENATION AND REPITION
print([1,3]+['Hey',89])

[1, 3, 'Hey', 89]

In [27]:
print([0]*4)

[0, 0, 0, 0]

In [28]:
print((['fruit',1]+[2.0])*2)

['fruit', 1, 2.0, 'fruit', 1, 2.0]

In [30]:
#COUNT AND INDEX
#count is case sensitive
a='I have had an apple on my desk before!'
print(a.count('e'))#single character
print(a.count("ha"))#sequnce of character or a substring

5
2

In [32]:
z=['atoms',4,'neutrons',6,'proton',4,'electron',4,'electron','atoms']
print(z.count(4))
print(z.count('4'))

3
0

In [33]:
print(z.count("a"))
print(z.count("electron"))

0
2

In [35]:
count=0
for item in z:
    if str(item).count('a'):
        count+=1
print(count)

2

In [39]:
music="Pull out your music and dancing can begin"
bio=['Metatarsal','Metatarsal','Fibula',[],'Tibia','Tibia',43,'Femur','Occipital','Metatarsal']

print(music.index('m'))#this retruns 1st occurrence of m in the string of music

14

In [40]:
print(music.index('your'))

print(bio.index('Metatarsal'))
print(bio.index([]))
print(bio.index(43))

9
0
3
6

In [42]:
seasons=['Winter','Spring','summer','fall']
print(seasons.index('autum'))

ValueError: 'autum' is not in list

In [45]:
#SPLIT AND JOIN
#split takes a string and splits it into sub strings
#split returns a list
song='The sun in South'
print(song.split(' '))
print(song.split())

['The', 'sun', 'in', 'South']
['The', 'sun', 'in', 'South']

In [46]:
print(song.split('s'))

['The ', 'un in South']

In [47]:
print(('leader and elders').split('e'))

['l', 'ad', 'r and ', 'ld', 'rs']

In [49]:
#join takes a list of strings and joins it into one long string
st=["leaders","and", "best"]
print("/".join(st))

leaders/and/best

In [50]:
"s".join('leaders and elders').split('e')

['ls', 'sasds', 'srsss sasnsds s', 'slsds', 'srss']

In [52]:
" ".join(st)

'leaders and best'

In [53]:
#THE FOR LOOP
for name in ['abs','legs','arms','weighs']:
    print(name)

abs
legs
arms
weighs

In [54]:
for achar in "Go Spot Go":
    print(achar)

G
o

S
p
o
t

G
o

In [55]:
fruits=['Apron','Apple','Banana','Mango']
for fruit in fruits:
    print(fruit)

Apron
Apple
Banana
Mango

In [56]:
fruits=('Apron','Apple','Banana','Mango')
for fruit in fruits:
    print(fruit)

Apron
Apple
Banana
Mango

In [1]:
import turtle
wn=turtle.Screen()
alex=turtle.Turtle()

for aColor in ['yellow','red','purple',"blue"]:
    alex.color(aColor)
    alex.forward(50)
    alex.left(90)
wn.exitonClick()

AttributeError: '_Screen' object has no attribute 'exitonClick'

In [1]:
#ACCUMULATOR PATTERN
acc=0
nums=[1,2,3,4,5,6,7,8,9,10]
for w in nums:
    acc=acc+w
print(acc)

55

In [2]:
#RANGE FUNCTION
print(range(5))

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
#range function doesnt produce a list it produces a iterable 
print(list(range(5)))

[0, 1, 2, 3, 4]

In [8]:
#Naming variables in for loop
x='1'
for y in x:
    print(y)
#variable_name->PLURAL and iterator->SINGULAR

1

In [11]:
#PRINTING INTERMEDIATE RESULTS
w=range(10)
tot=0
for num in w:
    tot+=num
print(tot)

45

In [12]:
#upper bound isnt included in the range function
w=range(11)
tot=0
for num in w:
    tot+=num
print(tot)

55

In [14]:
w=range(10)
tot=0
for num in w:
    print('Value of num is ',num)
    print('Value of total is',tot)
    print()
    tot+=num
print(tot)

Value of num is  0
Value of total is 0

Value of num is  1
Value of total is 0

Value of num is  2
Value of total is 1

Value of num is  3
Value of total is 3

Value of num is  4
Value of total is 6

Value of num is  5
Value of total is 10

Value of num is  6
Value of total is 15

Value of num is  7
Value of total is 21

Value of num is  8
Value of total is 28

Value of num is  9
Value of total is 36

45

In [15]:
#KEEPING TRACK OF ITERATOR VARIABLE 
#Iterable is the thing over which you are iterating that can be string ,list,tuple,dictioinary
#Iterator is the varible in the iterable

In [18]:
addition_str = "2+5+10+20"
numbers=addition_str.split('+')
print(numbers)

['2', '5', '10', '20']

In [20]:
add=0
for num in numbers:
    add+=int(num)
print(add)

37

In [21]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"

numbers=week_temps_f.split(',')
print(numbers)

['75.1', '77.7', '83.2', '82.5', '81.0', '79.5', '85.7']

In [25]:
add=0
count=0
for num in numbers:
    add+=float(num)
    count+=1
avg_val=add/count
print(avg_val)

80.67142857142858

In [31]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
num_words_list=[]
#splitted_words=original_str.split()
#print(splitted_words)
for word in splitted_words:
    num_words_list.append(word)
print(num_words_list)

['The', 'quick', 'brown', 'rhino', 'jumped', 'over', 'the', 'extremely', 'lazy', 'fox']
['The', 'quick', 'brown', 'rhino', 'jumped', 'over', 'the', 'extremely', 'lazy', 'fox']

In [35]:
lett=""
for i in range(0,8):
    lett=lett+'b'
print(lett)

bbbbbbbb