In [2]:
#MUTABILITY
fruit=["banana","apple",'cherry']
print(fruit)
fruit[0]='pear'
fruit[-1]='orange'
print(fruit)

['banana', 'apple', 'cherry']
['pear', 'apple', 'orange']

In [3]:
alist=['a','b','c','d','e','f']
alist[1:3]=['x','y']
print(alist)

['a', 'x', 'y', 'd', 'e', 'f']

In [4]:
alist[1:3]=[]
print(alist)

['a', 'd', 'e', 'f']

In [5]:
greeting='Hello World'
greeting[0]='J'
print(greeting)
#String object doesnt support item assignment

TypeError: 'str' object does not support item assignment

In [6]:
new_greeting='j'+greeting[1:]
print(new_greeting)

jello World

In [7]:
#LIST ELEMENT DELETION
a=['one','two','three']
del a[1]
print(a)

['one', 'three']

In [8]:
a=['a','b','c','5m','gd']
del a[2:6]
print(a)

['a', 'b']

In [9]:
#OBJECTS AND REFERENCES
a='banana'
b="banana"
print(a is b)

True

In [10]:
print(id(a))

73749056

In [11]:
print(id(b))

73749056

In [12]:
#ALAISING
a=[81,82,82]
b=[82,82,83]
print(a is b)

b=a
print(a==b)
print(a is b
     
b[0]=5
print(a)

SyntaxError: invalid syntax (<ipython-input-12-5b4372402e7d>, line 10)

In [13]:
#Clonning lists
a=[81,82,83]

b=a[:]#makes a clone using slice

print(a)
print(b)

[81, 82, 83]
[81, 82, 83]

In [14]:
#Sequence Mutation
 
#list are mutable while strings and tuples are not mutable

In [15]:
#Mutating Methods

mylist=[1,23,542]

mylist.append(3)
mylist.append(910)
print(mylist)

[1, 23, 542, 3, 910]

In [17]:
mylist.insert(1,12)
print(mylist)

[1, 12, 12, 23, 542, 3, 910]

In [18]:
print(mylist.count(12))

2

In [19]:
print(mylist.index(12))
print(mylist.index(3))

1
5

In [20]:
mylist.reverse()
print(mylist)

[910, 3, 542, 23, 12, 12, 1]

In [21]:
mylist.sort()
print(mylist)

[1, 3, 12, 12, 23, 542, 910]

In [22]:
mylist.remove(12) #there were 2 12`s but only 1 is removed
print(mylist)

[1, 3, 12, 23, 542, 910]

In [23]:
lastitem=mylist.pop()
print(lastitem)
print(mylist)

910
[1, 3, 12, 23, 542]

In [24]:
#Append vs Concatenate
original_list=[45,23,88]
original_list=original_list+["cat"]
print(original_list)

[45, 23, 88, 'cat']

In [26]:
original_list=[45,23,88]
print("original:",original_list)
print("the identifier : ",id(original_list))
new_list=original_list+['cat']
print("new : ",new_list)
print("the identifier : ",id(new_list))
original_list.append('cat')
print("original : ",original_list)
print("the identifier :" ,id(original_list))

original: [45, 23, 88]
the identifier :  89588000
new :  [45, 23, 88, 'cat']
the identifier :  89606904
original :  [45, 23, 88, 'cat']
the identifier : 89588000

In [27]:
#Non-Mutating Methods on Strings
ss="Hello World"
print(ss.lower())

tt=ss.upper()
print(tt)
print(ss)

hello world
HELLO WORLD
Hello World

In [30]:
ss="Hello World"
els=ss.count('l')
print(els)

print("***"+ss.strip()+"***") #strip() gets rid-off the white spaces at the beginning and at the end

news=ss.replace("o","***")
print(news)

3
***Hello World***
Hell*** W***rld

In [31]:
#String Format Method

name="Abhishek Shinde"
score=-1
print("Hello "+name+" your score is "+str(score))

Hello Abhishek Shinde your score is -1

In [32]:
scores=[("Aditya Shinde",99),("Abhishek Shinde",69),("Ganesh Shinde",81)]
for person in scores:
    name=person[0]
    score=person[1]
    print("Hello {}. Your score is {}".format(name,score))

Hello Aditya Shinde. Your score is 99
Hello Abhishek Shinde. Your score is 69
Hello Ganesh Shinde. Your score is 81

In [33]:
scores=[("Aditya Shinde",99),("Abhishek Shinde",69),("Ganesh Shinde",81)]
for person in scores:
    print("Hello {}. Your score is {}".format(person[0],person[1]))

Hello Aditya Shinde. Your score is 99
Hello Abhishek Shinde. Your score is 69
Hello Ganesh Shinde. Your score is 81

In [35]:
oriPrice=float(input("Enter original price ('$') : "))
discount=float(input("Enter discount (%) : "))
newPrice=(1-discount/100)*oriPrice
calculation="${:.2f} discounted by {}% is ${:.4f}".format(oriPrice,discount,newPrice)
print(calculation)

Enter original price ('$') : 89.99
Enter discount (%) : 20
$89.99 discounted by 20.0% is $71.9920

In [36]:
#Accumulating Lists 
nums=[3,5,8]
accm=[]
for w in nums:
    x=w**2
    accm.append(x)
print(accm)

[9, 25, 64]

In [37]:
#Accumulatiing Strings
s=input("Enter some text :")
ac=""

for c in s:
    ac=ac+c+"-"+c+"-"
print(ac)

Enter some text :cat
c-c-a-a-t-t-

In [38]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']

trav_dest.remove('London')

In [39]:
print(trav_dest)

['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'Melbourne']

In [44]:
winners = ['Alice Munro', 'Alvin E. Roth', 'Kazuo Ishiguro', 'Malala Yousafzai', 'Rainer Weiss', 'Youyou Tu']

z_winners=winners
print(z_winners)

z_winners.reverse()
print(z_winners)

['Alice Munro', 'Alvin E. Roth', 'Kazuo Ishiguro', 'Malala Yousafzai', 'Rainer Weiss', 'Youyou Tu']
['Youyou Tu', 'Rainer Weiss', 'Malala Yousafzai', 'Kazuo Ishiguro', 'Alvin E. Roth', 'Alice Munro']

In [1]:
str1 = "I love python"

chars=[]
for letter in str1:
    chars.append(letter)
print(chars)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [2]:
a = ["holiday", "celebrate!"]
quiet = a
quiet.append("company")

In [3]:
print(a)

['holiday', 'celebrate!', 'company']

In [4]:
wrds = ["end", 'work', "play", "start", "walk", "look", "open", "rain", "learn", "clean"]

past_words=[]
for word in wrds:
    past_words.append(word+"ed")
print(past_words)

['ended', 'worked', 'played', 'started', 'walked', 'looked', 'opened', 'rained', 'learned', 'cleaned']

In [6]:
scores = "67 80 90 78 93 20 79 89 96 97 92 88 79 68 58 90 98 100 79 74 83 88 80 86 85 70 90 100"

nums=scores.split()
a_scores=0
for num in nums:
    if int(num)>=90:
        a_scores+=1
print(a_scores)

10

In [8]:
stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', "The"]
org = "The organization for health, safety, and education"

acro=""
lst=org.split()
#print(lst)
for word in lst:
    if word not in stopwords:
        acro=acro+word[0].upper()
print(acro)

OHSE

In [12]:
stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', 'The']
sent = "The water earth and air are vital"
acro=""
lst=sent.split()
#print(lst)
for word in lst:
    if word not in stopwords:
        acro=acro+word[0:2].upper()+". "
print(acro)

WA. EA. AI. AR. VI.

In [19]:
p_phrase = "was it a car or a cat I saw"
r_list=p_phrase.split()
r_list.reverse()
#print(r_list)
r_phrase=""
for word in r_list:
    r_phrase.join("")
print(r_phrase)

In [22]:
p_phrase = "was it a car or a cat I saw"
r_phrase=p_phrase[::-1]
#print(r_phrase)
if p_phrase == r_phrase:
    print('The string is palindrome')
else:
    print('The string is not palindrome')

The string is not palindrome

In [29]:
inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]

for item in inventory:
    lst=item.split(',')
    print(lst)
    name=lst[0]
    qty=lst[1]
    cost=lst[2]
    print(name,qty,cost)
    print('The store has {} {}, each for {} USD'.format(name,qty,cost))

['shoes', ' 12', ' 29.99']
shoes  12  29.99
The store has shoes  12, each for  29.99 USD
['shirts', ' 20', ' 9.99']
shirts  20  9.99
The store has shirts  20, each for  9.99 USD
['sweatpants', ' 25', ' 15.00']
sweatpants  25  15.00
The store has sweatpants  25, each for  15.00 USD
['scarves', ' 13', ' 7.75']
scarves  13  7.75
The store has scarves  13, each for  7.75 USD