In [1]:
#dictionaris

eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'
print(eng2sp)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [2]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}
print(eng2sp)

{'three': 'tres', 'one': 'uno', 'two': 'dos'}

In [3]:
#dictionaries are unordered

In [4]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}

value = eng2sp['two']
print(value)
print(eng2sp['one'])

dos
uno

In [5]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

del inventory['pears'] #del deletes the key-value pair

In [6]:
inventory

{'apples': 430, 'bananas': 312, 'oranges': 525}

In [7]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

inventory['pears'] = 0

In [8]:
inventory

{'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 0}

In [9]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
inventory['bananas'] = inventory['bananas'] + 200

numItems = len(inventory)

In [10]:
print(numItems)

4

In [11]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

for akey in inventory.keys():     # the order in which we get the keys is not defined
    print("Got key", akey, "which maps to value", inventory[akey])

ks = list(inventory.keys())
print(ks)

Got key apples which maps to value 430
Got key bananas which maps to value 312
Got key oranges which maps to value 525
Got key pears which maps to value 217
['apples', 'bananas', 'oranges', 'pears']

In [12]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

for k in inventory:
    print("Got key", k)

Got key apples
Got key bananas
Got key oranges
Got key pears

In [13]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(list(inventory.values()))
print(list(inventory.items()))

for k in inventory:
    print("Got",k,"that maps to",inventory[k])

[430, 312, 525, 217]
[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]
Got apples that maps to 430
Got bananas that maps to 312
Got oranges that maps to 525
Got pears that maps to 217

In [14]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
print('apples' in inventory)
print('cherries' in inventory)

if 'bananas' in inventory:
    print(inventory['bananas'])
else:
    print("We have no bananas")

True
False
312

In [15]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(inventory.get("apples"))
print(inventory.get("cherries"))

print(inventory.get("cherries",0))

430
None
0

In [16]:
opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
alias = opposites

print(alias is opposites)

alias['right'] = 'left'
print(opposites['right'])

True
left

In [17]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}

In [18]:
golds.keys()

dict_keys(['Italy', 'USA', 'Brazil', 'China', 'Spain', 'Canada', 'Argentina', 'England'])

In [19]:
type(golds.keys())

dict_keys

In [20]:
for i in golds.keys():
    print(i)

Italy
USA
Brazil
China
Spain
Canada
Argentina
England

In [21]:

medal_count = {'United States': 70, 'Great Britain':38, 'China':45, 'Russia':30, 'Germany':17, 'Italy':22, 'France': 22, 'Japan':26, 'Australia':22, 'South Korea':14, 'Hungary':12, 'Netherlands':10, 'Spain':5, 'New Zealand':8, 'Canada':13, 'Kazakhstan':8, 'Colombia':4, 'Switzerland':5, 'Belgium':4, 'Thailand':4, 'Croatia':3, 'Iran':3, 'Jamaica':3, 'South Africa':7, 'Sweden':6, 'Denmark':7, 'North Korea':6, 'Kenya':4, 'Brazil':7, 'Belarus':4, 'Cuba':5, 'Poland':4, 'Romania':4, 'Slovenia':3, 'Argentina':2, 'Bahrain':2, 'Slovakia':2, 'Vietnam':2, 'Czech Republic':6, 'Uzbekistan':5}

for country in medal_count.keys():
    if country=='Belarus':
        belarus=medal_count[country]
        print(belarus)
        break

4

In [22]:
medal_count.get('Belarus')

4

In [23]:

total_golds = {"Italy": 114, "Germany": 782, "Pakistan": 10, "Sweden": 627, "USA": 2681, "Zimbabwe": 8, "Greece": 111, "Mongolia": 24, "Brazil": 108, "Croatia": 34, "Algeria": 15, "Switzerland": 323, "Yugoslavia": 87, "China": 526, "Egypt": 26, "Norway": 477, "Spain": 133, "Australia": 480, "Slovakia": 29, "Canada": 22, "New Zealand": 100, "Denmark": 180, "Chile": 13, "Argentina": 70, "Thailand": 24, "Cuba": 209, "Uganda": 7,  "England": 806, "Denmark": 180, "Ukraine": 122, "Bahamas": 12}

chile_golds=total_golds.get('China')

In [24]:
print(chile_golds)

526

In [25]:
#Dictionary accumulation

In [26]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
t_count = 0 #initialize the accumulator variable
for c in txt:
    if c == 't':
        t_count = t_count + 1   #increment the counter
print("t: " + str(t_count) + " occurrences")

t: 17584 occurrences

In [27]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
t_count = 0 #initialize the accumulator variable
s_count = 0 # initialize the s counter accumulator as well
for c in txt:
    if c == 't':
        t_count = t_count + 1   #increment the t counter
    elif c == 's':
        s_count = s_count + 1
print("t: " + str(t_count) + " occurrences")
print("s: " + str(s_count) + " occurrences")

t: 17584 occurrences
s: 11830 occurrences

In [28]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
x = {} # start with an empty dictionary
x['t'] = 0  # initialize the t counter
x['s'] = 0  # initialize the s counter
for c in txt:
    if c == 't':
        x['t'] = x['t'] + 1  # increment the t counter
    elif c == 's':
        x['s'] = x['s'] + 1  # increment the s counter

print("t: " + str(x['t']) + " occurrences")
print("s: " + str(x['s']) + " occurrences")

t: 17584 occurrences
s: 11830 occurrences

In [29]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
x = {} # start with an empty dictionary
x['t'] = 0  # intiialize the t counter
x['s'] = 0  # initialize the s counter
for c in txt:
    if c == 't':
        x[c] = x[c] + 1   # increment the t counter
    elif c == 's':
        x[c] = x[c] + 1   # increment the s counter

print("t: " + str(x['t']) + " occurrences")
print("s: " + str(x['s']) + " occurrences")

t: 17584 occurrences
s: 11830 occurrences

In [30]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
x = {} # start with an empty dictionary
for c in txt:
    if c not in x:
        # we have not seen this character before, so initialize a counter for it
        x[c] = 0

    #whether we've seen it before or not, increment its counter
    x[c] = x[c] + 1

letter_values = {'a': 1, 'b': 3, 'c': 3, 'd': 2, 'e': 1, 'f':4, 'g': 2, 'h':4, 'i':1, 'j':8, 'k':5, 'l':1, 'm':3, 'n':1, 'o':1, 'p':3, 'q':10, 'r':1, 's':1, 't':1, 'u':1, 'v':4, 'w':4, 'x':8, 'y':4, 'z':10}

tot = 0
for y in x:
    if y in letter_values:
        tot = tot + letter_values[y] * x[y]

print(tot)

337353

In [1]:
Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}

dict_values([4, 4, 3, 3, 1, 3])

In [2]:
values=Junior.values()
print(values)
credits=0
for value in values:
    credits+=value
print(credits)

18

In [4]:
str1 = "peter piper picked a peck of pickled peppers"

freq={}

for c in str1:
    if c not in freq:
        freq[c]=0
    freq[c]=freq[c]+1
print(freq)

{'p': 9, 'e': 8, 't': 1, 'r': 3, ' ': 7, 'i': 3, 'c': 3, 'k': 3, 'd': 2, 'a': 1, 'o': 1, 'f': 1, 'l': 1, 's': 1}

In [5]:
s1 = "hello"

counts={}

for c in s1:
    if c not in counts:
        counts[c]=0
    counts[c]+=1
print(counts)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [7]:
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"

freq_words={}

for word in str1.split():
    if word not in freq_words:
        freq_words[word]=0
    freq_words[word]+=1
print(freq_words)

{'I': 2, 'wish': 2, 'with': 2, 'all': 1, 'my': 1, 'heart': 1, 'to': 1, 'fly': 1, 'dragons': 1, 'in': 1, 'a': 1, 'land': 1, 'apart': 1}

In [8]:
sent = "Singing in the rain and playing in the rain are two entirely different situations but both can be good"

wrd_d={}
for word in sent.split():
    if word not in wrd_d:
        wrd_d[word]=0
    wrd_d[word]+=1
print(wrd_d)

{'Singing': 1, 'in': 2, 'the': 2, 'rain': 2, 'and': 1, 'playing': 1, 'are': 1, 'two': 1, 'entirely': 1, 'different': 1, 'situations': 1, 'but': 1, 'both': 1, 'can': 1, 'be': 1, 'good': 1}

In [24]:
sally = "sally sells sea shells by the sea shore"

characters={}
for c in sally:
    if c not in characters:
        characters[c]=0
    characters[c]+=1
print(characters)

best_char=list(characters.keys())[0]

print(best_char," ",characters[best_char])
for letter in characters.keys():
    if characters[letter] > characters[best_char]:
        print(characters[letter])
        best_char=letter
        
print(best_char)

{'s': 8, 'a': 3, 'l': 6, 'y': 2, ' ': 7, 'e': 6, 'h': 3, 'b': 1, 't': 1, 'o': 1, 'r': 1}
s   8
s

In [25]:
characters={}
for c in sally:
    if c not in characters:
        characters[c]=0
    characters[c]+=1
print(characters)

worst_char=list(characters.keys())[0]

#print(best_char," ",characters[best_char])
for letter in characters.keys():
    if characters[letter] < characters[best_char]:
        #print(characters[letter])
        worst_char=letter
        
print(worst_char)

{'s': 8, 'a': 3, 'l': 6, 'y': 2, ' ': 7, 'e': 6, 'h': 3, 'b': 1, 't': 1, 'o': 1, 'r': 1}
3
6
2
7
6
3
1
1
1
1
r

In [28]:
string1 = "There is a tide in the affairs of men, Which taken at the flood, leads on to fortune. Omitted, all the voyage of their life is bound in shallows and in miseries. On such a full sea are we now afloat. And we must take the current when it serves, or lose our ventures."

letter_counts={}

for letter in string1.lower():
    if letter not in letter_counts:
        letter_counts[letter]=0
    letter_counts[letter]+=1
print(letter_counts)

{'t': 19, 'h': 11, 'e': 29, 'r': 12, ' ': 53, 'i': 14, 's': 15, 'a': 17, 'd': 7, 'n': 15, 'f': 9, 'o': 17, 'm': 4, ',': 4, 'w': 6, 'c': 3, 'k': 2, 'l': 11, 'u': 8, '.': 4, 'v': 3, 'y': 1, 'g': 1, 'b': 1}

In [29]:
p = "Summer is a great time to go outside. You have to be careful of the sun though because of the heat."

low_d={}

for letter in p.lower():
    if letter not in low_d:
        low_d[letter]=0
    low_d[letter]+=1
print(low_d)

{'s': 5, 'u': 7, 'm': 3, 'e': 12, 'r': 3, ' ': 20, 'i': 3, 'a': 6, 'g': 3, 't': 9, 'o': 8, 'd': 1, '.': 2, 'y': 1, 'h': 6, 'v': 1, 'b': 2, 'c': 2, 'f': 3, 'l': 1, 'n': 1}