In [4]:
#Reading a File
#open function returns a file obejct
fileref=open("olympics.txt","r")
fileref.close()

In [43]:
fileref=open("olympics.txt","r")
contents=fileref.read()
print(type(contents))
print(len(contents))
print(contents[:100])#this gives 1st 100 characters
fileref.close()

<class 'str'>
3178
Name,Sex,Age,Team,Event,Medal
A Dijiang,M,24,China,Basketball,NA
A Lamusi,M,23,China,Judo,NA
Gunnar

In [10]:
fileref=open("olympics.txt","r")
lines=fileref.readlines()
print(type(lines))
print(lines[:4])
fileref.close()

<class 'list'>
['Name,Sex,Age,Team,Event,Medal\n', 'A Dijiang,M,24,China,Basketball,NA\n', 'A Lamusi,M,23,China,Judo,NA\n', 'Gunnar Nielsen Aaby,M,24,Denmark,Football,NA\n']

In [11]:
fileref=open("olympics.txt","r")
lines=fileref.readlines()
for line in lines[:4]:
    print(line)
fileref.close()

Name,Sex,Age,Team,Event,Medal

A Dijiang,M,24,China,Basketball,NA

A Lamusi,M,23,China,Judo,NA

Gunnar Nielsen Aaby,M,24,Denmark,Football,NA

In [12]:
fileref=open("olympics.txt","r")
lines=fileref.readlines()
for line in lines[:4]:
    print(line.strip())
fileref.close()

Name,Sex,Age,Team,Event,Medal
A Dijiang,M,24,China,Basketball,NA
A Lamusi,M,23,China,Judo,NA
Gunnar Nielsen Aaby,M,24,Denmark,Football,NA

In [13]:
#shorter way to iterate:
fileref=open("olympics.txt","r")
#lines=fileref.readlines()
for line in fileref:
    print(line.strip())
fileref.close()

Name,Sex,Age,Team,Event,Medal
A Dijiang,M,24,China,Basketball,NA
A Lamusi,M,23,China,Judo,NA
Gunnar Nielsen Aaby,M,24,Denmark,Football,NA
Edgar Lindenau Aabye,M,34,Denmark/Sweden,Tug-Of-War,Gold
Christine Jacoba Aaftink,F,21,Netherlands,Speed Skating,NA
Christine Jacoba Aaftink,F,21,Netherlands,Speed Skating,NA
Christine Jacoba Aaftink,F,25,Netherlands,Speed Skating,NA
Christine Jacoba Aaftink,F,25,Netherlands,Speed Skating,NA
Christine Jacoba Aaftink,F,27,Netherlands,Speed Skating,NA
Christine Jacoba Aaftink,F,27,Netherlands,Speed Skating,NA
Per Knut Aaland,M,31,United States,Cross Country Skiing,NA
Per Knut Aaland,M,31,United States,Cross Country Skiing,NA
Per Knut Aaland,M,31,United States,Cross Country Skiing,NA
Per Knut Aaland,M,31,United States,Cross Country Skiing,NA
Per Knut Aaland,M,33,United States,Cross Country Skiing,NA
Per Knut Aaland,M,33,United States,Cross Country Skiing,NA
Per Knut Aaland,M,33,United States,Cross Country Skiing,NA
Per Knut Aaland,M,33,United States,Cross Country Skiing,NA
John Aalberg,M,31,United States,Cross Country Skiing,NA
John Aalberg,M,31,United States,Cross Country Skiing,NA
John Aalberg,M,31,United States,Cross Country Skiing,NA
John Aalberg,M,31,United States,Cross Country Skiing,NA
John Aalberg,M,33,United States,Cross Country Skiing,NA
John Aalberg,M,33,United States,Cross Country Skiing,NA
John Aalberg,M,33,United States,Cross Country Skiing,NA
John Aalberg,M,33,United States,Cross Country Skiing,NA
"Cornelia ""Cor"" Aalten (-Strannood)",F,18,Netherlands,Athletics,NA
"Cornelia ""Cor"" Aalten (-Strannood)",F,18,Netherlands,Athletics,NA
Antti Sami Aalto,M,26,Finland,Ice Hockey,NA
"Einar Ferdinand ""Einari"" Aalto",M,26,Finland,Swimming,NA
Jorma Ilmari Aalto,M,22,Finland,Cross Country Skiing,NA
Jyri Tapani Aalto,M,31,Finland,Badminton,NA
Minna Maarit Aalto,F,30,Finland,Sailing,NA
Minna Maarit Aalto,F,34,Finland,Sailing,NA
Pirjo Hannele Aalto (Mattila-),F,32,Finland,Biathlon,NA
Arvo Ossian Aaltonen,M,22,Finland,Swimming,NA
Arvo Ossian Aaltonen,M,22,Finland,Swimming,NA
Arvo Ossian Aaltonen,M,30,Finland,Swimming,Bronze
Arvo Ossian Aaltonen,M,30,Finland,Swimming,Bronze
Arvo Ossian Aaltonen,M,34,Finland,Swimming,NA
Juhamatti Tapio Aaltonen,M,28,Finland,Ice Hockey,Bronze
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,Bronze
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,Gold
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,Gold
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,28,Finland,Gymnastics,Gold
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,Bronze
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Paavo Johannes Aaltonen,M,32,Finland,Gymnastics,NA
Timo Antero Aaltonen,M,31,Finland,Athletics,NA
Win Valdemar Aaltonen,M,54,Finland,Art Competitions,NA

In [14]:
print(len(lines))#how many lines are there in the file

60

In [15]:
print(len(contents))#how many characters in your file

3178

In [16]:
#WRITING IN A FILE

for num in range(13):
    square=num*num
    print(square)

0
1
4
9
16
25
36
49
64
81
100
121
144

In [18]:
file=open("squares.txt","w")
for num in range(13):
    square=num*num
    file.write(str(square))#here we have to give it a string to write in a file
file.close()

In [19]:
file=open("squares1.txt","w")
for num in range(13):
    square=num*num
    file.write(str(square))#here we have to give it a string to write in a file
    file.write('\n')
file.close()

In [21]:
file=open("squares2.txt","w")
for num in range(13):
    square=num*num
    file.write((str(num)+' X '+str(num)+' = '+str(square)))#here we have to give it a string to write in a file
    file.write('\n')
file.close()

In [24]:
file=open("squares2.txt","w")
for num in range(13):
    square=num*num
    file.write((str(num)+' X '+str(num)+' = '+str(square)))#here we have to give it a string to write in a file
    file.write('\n')
file.close()

In [27]:
new_obj=open("squares2.txt","r")
print(new_obj.read())
new_obj.close()

0 X 0 = 0
1 X 1 = 1
2 X 2 = 4
3 X 3 = 9
4 X 4 = 16
5 X 5 = 25
6 X 6 = 36
7 X 7 = 49
8 X 8 = 64
9 X 9 = 81
10 X 10 = 100
11 X 11 = 121
12 X 12 = 144

In [30]:
#USING WITH TO OPEN FILES
fname='mydata.txt'
with open(fname,'r') as md:
    print(md.read())
    #md.readlines()
    #for line in md:
        #do something for each line
#continue with other code

#CLOSE HAPPENS AUTOMATICALLY IN THE FILE

1 2 3
4 5 6

In [31]:
with open('grades.csv','r') as csv:
    print(csv.read())

Name	Score	Grades
Jamal	98	A+
Eloise	87	B+
Medeline	99	A+
Wei	94	A

In [33]:
filecon=open('olympics.txt','r')
lines=filecon.readlines()
for line in lines[:6]:
    print(line.strip())
print('----------------------------------------------')
header=lines[0]
field_names=header.strip().split(',')
print(header)
print()
print(field_names)

for row in lines[1:]:
    vals=row.strip().split(',')
    if vals[5]!='NA':
        print("{}: {}; {}".format(vals[0],vals[4],vals[5]))

Name,Sex,Age,Team,Event,Medal
A Dijiang,M,24,China,Basketball,NA
A Lamusi,M,23,China,Judo,NA
Gunnar Nielsen Aaby,M,24,Denmark,Football,NA
Edgar Lindenau Aabye,M,34,Denmark/Sweden,Tug-Of-War,Gold
Christine Jacoba Aaftink,F,21,Netherlands,Speed Skating,NA
----------------------------------------------
Name,Sex,Age,Team,Event,Medal


['Name', 'Sex', 'Age', 'Team', 'Event', 'Medal']
Edgar Lindenau Aabye: Tug-Of-War; Gold
Arvo Ossian Aaltonen: Swimming; Bronze
Arvo Ossian Aaltonen: Swimming; Bronze
Juhamatti Tapio Aaltonen: Ice Hockey; Bronze
Paavo Johannes Aaltonen: Gymnastics; Bronze
Paavo Johannes Aaltonen: Gymnastics; Gold
Paavo Johannes Aaltonen: Gymnastics; Gold
Paavo Johannes Aaltonen: Gymnastics; Gold
Paavo Johannes Aaltonen: Gymnastics; Bronze

In [34]:
#writing a data to a csv file

olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics.csv", "w")
# output the header row
outfile.write('Name,Age,Sport')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = '{},{},{}'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()

In [39]:
#using .join() to join to string

olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics_join.csv", "w")
# output the header row
outfile.write('Name,Age,Sport')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    #row_string=','.join(olympian) #if the list is all string then we join the tuple
    row_string=','.join([olympian[0], str(olympian[1]), olympian[2]])
    #row_string = '{},{},{}'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()


#.join() expects 2 values to join hence we pass a list of strings
#.join() should have all arguments as strings

In [41]:
#string concatenation

olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics_concat.csv", "w")
# output the header row
outfile.write('Name,Age,Sport')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string=olympian[0]+','+str(olympian[1])+','+olympian[2]
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()

In [42]:
olympians = [("John Aalberg", 31, "Cross Country Skiing, 15KM"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics2.csv", "w")
# output the header row
outfile.write('"Name","Age","Sport"')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = '"{}", "{}", "{}"'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()